body {
   font-family: sans-serif;
   font-size: 95%;
   margin: 1em 1.5em;
}
#content {
}
.template {
    display: none;
}
p, h2 {
}
h1 {
    border-bottom: 3px solid #333;
}
ul.outline li {
}
ul.outline li>ul {
}
ul.outline li>div {
    padding: 0.5em;
}
ul.outline li.dragging {
}
ul.outline .hover {
}
ul.outline .land_above, 
ul.outline .land_below, 
ul.outline .land_above_child, 
ul.outline .land_below_child {
    background: transparent url(../img/insert.png) no-repeat;
}
ul.outline .land_above {
    background-position: left top;
}
ul.outline .land_below {
    background-position: left bottom;
}
ul.outline .land_above_child {
    background-position: 3em top;
}
ul.outline .land_below_child {
    background-position: 3em bottom;
}
