.DS_Store
.svn
tmp
build
Thumbs.db
*.bak
*.pyc
*.swp
*.swo
xfers/
application/cache/
application/logs/
application/tests/log/
docs/api/
logs/
logs/*log
application/config/config-local.php
application/config/config-testing.php
application/config/repacks.php
application/config/cache.php
downloads/
workspace/
addons/
httpd.conf
.htaccess
